#numericpad {
  display: flex;
  justify-content: center;
  z-index: 1;
}

#formatted-text-mask-input {
  background-color: #242424;
  color: #eeeeee;
  border-color: 'red';
  margin-right: 5px;
}

#text-input-button {
  margin-left: 5px;
}
