#formatted-text-mask-input {
  background-color: #242424;
  color: #e6e6e6;
  border-color: #242424;
  text-align: center;
  width: 100%;
}

#paper {
  background-color: #222222;
  padding: 0.7em;
  width: auto;
}

#text-input-button {
  width: 100%;
  height: 3em;
}

#numeric-button {
  background-color: #464646;
  color: #e6e6e6;
  width: 100%;
  height: 3rem;
}

.MuiInputBase-root {
  margin-bottom: 0.4em;
}
