.App {
  position: relative;
  background-color: #262626;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: #f6f6f6;
}

#numeric1-button {
  z-index: 1;
  background-color: #464646;
  color: #e6e6e6;
  width: 100%;
}
